@tailwind base;
@tailwind components;
@tailwind utilities;

.responsive-space-x {
  display: flex;
  align-items: center;       /* Centra verticalmente */
  justify-content: center;   /* Centra horizontalmente todo el contenido */
  gap: clamp(8px, 5vw, 160px);
  text-align: center;        /* Centra el texto dentro de los elementos hijos */
}

